main{
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    margin-right: 24px;
    gap: 60px;
}



.header{
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 0px 50px 0px 50px;
    height: 293px;
}

.logo{
    display: flex;
    justify-content: center;
    width: 148px;
    height: 105px;
}

.logo-image{
    height: 100%;
}

.menu-header-list{
    display: flex;
    gap: 31px;
    list-style: circle;
    font-size: 18px;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;

}

.menu-header-link{

    text-decoration: underline;
    color: #1e1e1e;
}

.menu-header-item-active .menu-header-link{
    text-decoration: none;
    color: #1e1e1e;
}

.address{
    display: flex;
    flex-direction: column;
    width: 240px;
    text-align: left;
    margin-left: auto;
    justify-self: start;
    right: 0px;
    line-height: 24.3px;
    font-style: normal; 
    font-size: 18px;
}
.address-link{
    text-decoration: underline;
    color: #1e1e1e;
    text-underline-offset: 3px; 
}
.cover{
    position: relative;
    background-image: url(../images/cover.jpg);
    min-height: 757px;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;    
    padding: 165px 50px 50px 50px;
}

.overlay{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    inset: 0;
}

.сover-text{
    position: relative;
}
.cover-title{
    text-transform: uppercase;
    font-size: 100px;
    letter-spacing: 30px;
    line-height: 114.99999999999999px;   
}

.cover-span{
    display: block;
    padding-bottom: 19.5px;
}
.center{
    text-align: center;
}
.right{
    text-align: right;
}

.description{
    display: flex;
    justify-content: space-between;
    margin-top: 106px;
    align-items: center;
    margin-top: 88px;
}
.description-text{
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 0%;
    word-spacing: 20px;
}
.description-button{
    background-color: transparent;
    border-style: solid;
    border-color: #fff;
    border-width: 1px;
    text-transform: uppercase;
    color: #fff;
    font-size: 22px;
    padding: 12px 32px 11px 31px;
}
.lots{
    margin-top: 180px;
}


.social-networks{
    display: flex;
    gap: 48px;
}