.main{
    display: flex;
    flex-direction: column;
    gap: 120px;   

}
.header{
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 0px 50px 0px 50px;
    height: 293px;
}

.logo{
    display: flex;
    justify-content: center;
    width: 148px;
    height: 105px;
}

.logo-image{
    height: 100%;
}

.menu-header-list{
    display: flex;
    gap: 31px;
    list-style: circle;
    font-size: 18px;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
}

.menu-header-link{
    text-decoration: underline;
    color: #1e1e1e;
}

.link-active{
    text-decoration: none;
}

.first-item-menu{
    list-style: none;
}

.address{
    display: flex;
    flex-direction: column;
    width: 240px;
    text-align: left;
    margin-left: auto;
    justify-self: start;
    right: 0px;
    line-height: 24.3px;
    font-style: normal; 
    font-size: 18px;
}

.address-link{
    text-decoration: underline;
    color: #1e1e1e;
    text-underline-offset: 3px; 
}

.cover{
    position: relative;
    background-image: url(../images/cover.jpg);
    min-height: 757px;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;    
    padding: 165px 50px 50px 50px;
    margin-bottom: 60px;
}

.overlay{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    inset: 0;
}

.cover-title{
    position: relative;
    text-transform: uppercase;
    font-size: 100px;
    letter-spacing: 30px;
    line-height: 114.99999999999999px;   
}

.cover-span{
    display: block;
    padding-bottom: 19.5px;
}
.cover-span-last-letter{
    letter-spacing: normal 
}
.center{
    text-align: center;
}
.right{
    text-align: right;
}

.description{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 106px;
    align-items: center;
    margin-top: 88px;
}

.description-text{
    text-transform: uppercase;
    font-size: 22px;
    word-spacing: 20px;
}

.description-button{
    background-color: transparent;
    border-style: solid;
    border-color: #fff;
    border-width: 1px;
    text-transform: uppercase;
    color: #fff;
    font-size: 22px;
    padding: 12px 32px 11px 31px;
}

.lots{
    display: flex;
    flex-direction: column;
    gap: 27px;
    padding: 0px 24px 0px 24px;
    
}

.lots-title{
    text-transform: uppercase;
    font-size: 40px;
    margin-left: 40px;
}

.lots-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    color: #fff;
}

.card{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;
    flex-basis: 334px;
    flex-grow: 1;
}
.card-image{
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 596px;
    padding: 48px 40px 48px 40px;
}
    

.card-link{
    text-decoration: none;
}

.card-title{
    z-index: 1;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-thickness: 1.5px;
}

.card-text{
    z-index: 1;
    font-size: 20px;
    line-height: 120%;
}

.card-film{
    background-image: url(../images/card-lot-01.jpg);
}
.card-book{
    background-image: url(../images/card-lot-02.jpg);
}
.card-painting{
    background-image: url(../images/card-lot-03.jpg);
}

.lots-button{
    background-color: transparent;
    font-size: 20px;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
    margin-left: 40px;
}

.about-auction{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    padding: 0px 24px 0px 24px;
    height: 595px;
}

.black-ellipse{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 240px;
    height: 240px;
    border-radius: 100%;
}

.white-logo{
    position: relative;
    height: 114px;
    width: 148px;
}


.logo-about{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    justify-self: center;
    align-self: center;
}

.about-auction-title{
    text-transform: uppercase;
    font-size: 40px;
    grid-row: 1 / 2;
    grid-column: 2 / 3 ;
    align-self: center;
    justify-self: start;
    margin-left: 15px;
    margin-top: 5px;
}

.about-auction-text{
    font-size: 20px;
    line-height: 24px;
}

.about-auction-text{
    display: flex;
    flex-direction: column;
    gap: 24px;
    grid-row: 2/3;
    grid-column: 2/3;
    line-height: 24px;

}

.footer{
    display: flex;
    bottom: 0;
    margin-top: 180px;
    height: 180px;
    padding: 0px 50px 0px 50px;
}

.list{
    list-style: none;
}

.address{
    margin-left: 0px; 
}

.menu-footer{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    text-align: center;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;

}

.menu-footer-item-active .menu-footer-link{
    text-decoration: none;
}

.social-networks{
    display: flex;
    gap: 48px;
    width: 240px;
}
